body {
    background-color: #ffffff;
}

header {
    background-color: blue;
    height: 11%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}
h1{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    color: white;
}

footer {
    background-color: blue;
    height: 7%;
    position: fixed;
    width: 100%;
    top: 90%;
    left: 0%;
}

nav {
    background-color: cornflowerblue;
    position: fixed;
    width: 12%;
    height: 84%;
    top: 11%;
    left: 0%;
}

article {
    background-color: Highlight;
    position: fixed;
    width: 1410px;
    top: 11%;
    left: 12%;
    height: 164px;
}
imgLogo# {
    background-image: url('Images/Company Logo.jpg');
}
